<div class="card border-dark mb-3" style="max-width:12rem;">
    <div class="text-center" style="font-size:xx-small">
        <div class="card-header">@Day</div>
        <div class="card-body">
            <h5> @MinWeatherData ºC / @MaxWeatherData ºC</h5>
            <p class="card-text">@Descripcion</p>
            <p class="card-text">UV: @uv</p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? Day { get; set; }

    [Parameter]
    public float MinWeatherData { get; set; }
    [Parameter]
    public float MaxWeatherData { get; set; }
    [Parameter]
    public float uv { get; set; }

    [Parameter]
    public string Descripcion { get; set; }

    }
